:root {
  /* Color Palette */
  --color-blue-0: #b5d2e7;
  --color-blue-100: #7eb0d4;
  --color-blue-200: #428fc1;
  --color-blue-300: #255777;
  --color-blue-400: #0b2434;

  --color-red-0: #ffb8b2;
  --color-red-100: #f97f7a;
  --color-red-200: #ed333c;
  --color-red-300: #6d2317;
  --color-red-400: #41080b;

  --color-yellow-0: #f1dfb5;
  --color-yellow-100: #e7c67a;
  --color-yellow-200: #dcad2b;
  --color-yellow-300: #886a16;
  --color-yellow-400: #3c2d05;

  --color-green-0: #bbd2b4;
  --color-green-100: #8ab17d;
  --color-green-200: #599046;
  --color-green-300: #345728;
  --color-green-400: #13240d;

  --color-light-0: #fffbf0;
  --color-light-100: #fef5d9;
  --color-light-200: #ebdeca;

  --color-dark-0: #6b6e73;
  --color-dark-100: #404449;
  --color-dark-200: #191d23;

  /* Font-Size (Desktop) */
  --font-size-xs: 0.85rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 2.5rem;
  --font-size-2xl: 3rem;

  /* Font-Weight */
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-boldest: 900;

  /* Letter-Spacing */
  --letter-spacing-dtmf-normal: 0.1rem;
  --letter-spacing-dtmf-tight: 0.05rem;
  --letter-spacing-museo-tight: -0.02rem;

  /* Box-Shadow */
  --box-shadow-sm: 0px 0px 5px;
  --box-shadow-md: 0px 0px 10px;
  --box-shadow-lg: 0px 0px 15px;

  /* Text-Shadow */
  --text-shadow-sm: 1px 2px 1px;
  --text-shadow-md: 2px 2px 1px;
  --text-shadow-lg: 3px 3px 1px;

  /* Border Radius */
  --border-radius-none: 0px;
  --border-radius-sm: 3px;
  --border-radius-md: 5px;
  --border-radius-lg: 8px;

  /* Line-Height */
  --line-height-xs: 0.5rem;
  --line-height-sm: 1rem;
  --line-height-md: 1.5rem;
  --line-height-lg: 2rem;
  --line-height-xl: 2.25rem;
  --line-height-2xl: 2.5rem;
  --line-height-3xl: 2.75rem;

  /* Row Gap */
  --row-gap-sm: 0.5rem;
  --row-gap-md: 1rem;
  --row-gap-lg: 1.5rem;
  --row-gap-xl: 2rem;
  --row-gap-2xl: 2.5rem;
}
